{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
<div>
    <h1>About</h1>
    <br>
    <h3>Deaf Online (DOL) Co. </h3>
    <br>
    <p>This company was created to help the Deaf Community connect with each other exclusively on an application built just for them. Deaf Online (DOL) is built with a simple design but instead focuses on functionality. Our company features lots of useful components to connect including a blog, weekly newsletter, and traveling wishlist to meet up in person. We are committed to serving the Deaf Community as a whole.</p>

</div>
{% endblock content %}