{% extends 'base.html' %} 


{% block title %}Help Me{% endblock title %} 

{% block content %}
<div class="container" style="width: 10 rem;">
<h1>Frequently Asked Questions</h1>
    <ul>
        <li>
            <h4>Q. How do I create a new post?</h4>
            <p>A. You can create a new post clicking on the "New Post" link in the upper navigation bar.
            <small> You will neeed to be logged in to create a new post.</p>
            </small>
        </li>
        <li>
            <h4>Q. How do I update an existing post?</h4>
            <p>A. You can update an existing post by logging in, clicking on the Post link and then clicking on the "Update" button. Once you have finished with your edits you can click the "Submit" button and the post will be posted with your edits intact.</p>
            <small> - You will neeed to be logged in to update a post.</small>
        </li> <li>
            <h4>Q. What is the wish list?</h4>
            <p>A. The wishlist is a feature that enables you to pick a destination with one of your DOL friends and document that you desire to go there. It has the link to a cash saving application that both users can donate towards the trip. Once the trip is complete the desination can simply be logged in your Passport.</p>
            <p> You will neeed to be logged in to create a new post.</p>
        </li> <li>
            <h4>Q. How do I change my password?</h4>
            <p>A. The password .</p>
        </li>
    </ul>
</div>
{% endblock content %}