{% extends 'base.html' %}
{% load static %}

{% block title %}Video List{% endblock title %} 

{% block content %}
<body class="homeBody">
    
<div class ="container">
<h1><u>Public Blog Posts:</u></h1>
{% for video in video_list %}
<video width='400' controls src='/static/upload/{{ video.videofile }}' type='video/mp4'>
</video>
    <br><br>
    </p>
{% endfor %}
</div>
</body>
<!-- <script>'undefined'=== typeof _trfq || (window._trfq = []);'undefined'=== typeof _trfd && (window._trfd=[]),_trfd.push({'tccl.baseHost':'secureserver.net'}),_trfd.push({'ap':'cpbh-mt'},{'server':'p3plmcpnl487010'},{'id':'8437534'}) // Monitoring performance to make your website faster. If you want to opt-out, please contact web hosting support.</script>
<script src='https://img1.wsimg.com/tcc/tcc_l.combined.1.0.6.min.js'></script> -->
{% endblock content %}
