{% extends 'base.html' %}
{% load static %}

{% block title %}Video List{% endblock title %} 

{% block content %}
<body class="homeBody">

<div class="videoContainer">
    <h1 id="vlogTitle"><u>Public Blog Posts:</u></h1>

    {% for video in video_list %}
        <div class="video-grid">       
            <video width='800' controls src='/static/upload/{{ video.videofile }}' type='video/mp4'>
            </video>
            <div class="card-body">
                <h5 class="card-title">{{ video.author }}</h5>
                <label><small class="text-muted">Created on: {{ video.created_on }}</small></label>
                <p>{{ video.description }}</p>
            </div>   
        </div>
    {% endfor %}

</div>
</body>
{% endblock content %}