{% extends 'base.html' %} 
{% load static %}

{% block title %}Wish List{% endblock title %} 

{% block content %}
<body class="homeBody">
    
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <hr>
            <div style="background-color: rgb(142, 159, 175)" class ="card card-body">
                <h3 style="text-align: center;">Traveling Destinations</h3>
                <br>
                <a class="btn btn-primary" href="{% url 'new_wish' %}">Add New Destination</a>
                <table class ="table table-sm">
                    <tr>
                        <th>Country</th>
                        <th>Description</th>
                    </tr>

                    {% for wish in wish_list %}
                        <tr>
                            <td><a href="{% url 'wish_detail' wish.id %}">{{ wish.summary | truncatechars:150 }}</a></td>
                            <td>{{ wish.description | truncatechars:250 }}</td>
                            {% if user.is_authenticated %}
                                {% if user.id == wish.author.id %}
                                <td><a class="btn btn-sm btn-info" href="{% url 'edit_wish' wish.id %}">Update</a></td>
                                <td><a class="btn btn-sm btn-danger" href="{% url 'delete_wish' wish.id %}">Delete</a></td>
                                {% endif %}
                            {% endif %}
                        </tr>
                        {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
</body>
{% endblock content %}