
.navbar {
    background-color: rgb(203, 222, 228);
}

.card {
    width: 30%;
    margin: 2rem auto;
    padding: 15px;
    width:35rem;
    background-color: rgb(95, 93, 93);
    color: white;
}
#peeps{
    align-items: right;
}

.card-text {
    padding: 10px;
    margin: 10px;
}

posts h1 {
    text-decoration: underline;
}

.homeBody {
    background-color: lightsalmon;
    color: white;
}

.homeTitle {
    padding: 25px;
    font-size: 50px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 100%;
    text-align: center;
}

.list-group-item {
    background-color: rgb(201, 198, 198);
}

#profileBody{
    background-color: rgb(156, 220, 220);
}
#bl{
    font-size: 30px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 100%;
    padding: 25px 25px 25px 400px;
    color:rgb(222, 231, 228);
}

#profileBody img{
    border-radius: 50%;
}
#follows{
    background-color: rgb(145, 215, 181);
}
#followed{
    background-color: rgb(145, 215, 181);
}

#peepTitle {
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 1px;
    color: rgb(11, 16, 19);
}
.profileImage img{
    border-radius: 50%;
}

/* Video Player */
.videoPlayer {
    width: 100%;
    padding: 200px;
}
